html {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 0, 0.868);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: whitesmoke;
    margin: 0px;
    padding: 0px;
}

.title {
    font-size: 20px;
    background-color: rgb(222, 194, 37);
    margin-top: 0px;
    padding: 4px 26px;
}

.header {
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 26px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    height: 420px;
}

p, ul, ol {
    margin-left: 100px;
    margin-right: 100px;
    font-size: 20px;
}

.rec-buttons a {
    display: inline-block; /* Ensures the anchor takes up space around the button */
    padding: 10px;
    margin: 30px 13px;
    background-color: rgb(222, 194, 37);
    border: none;
}

.rec-button {
    font-size: 26px;
    height: fit-content;
    width: fit-content;
    background-color: rgb(222, 194, 37);
    color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: none;
    cursor: pointer;
}

#far-left {
    margin-left: 26px;
}